body,html{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 10px;
    height: 100%;
    flex-grow: 6;
    background:url(../images/login-bg.png) no-repeat center center #1ca8ef;

}
.right{
    width: 10px;
    height: 100%;
    flex-grow: 4;
    /* background-color: #fff; */
    position: relative;
}

/* 右边模态框的代码 */
.login-box{
    width: 400px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 0px 20px;

}
.login-box img{
    margin-top: 30px;
}
.login-box .login-sign{
    width: 60%;
    padding:30px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

}
.login-box .login-sign span{
    cursor: pointer;
    flex-grow: 1;
}
.login-box .login-sign span:nth-child(1){
    border-right: 2px solid #ccc;
}
.login-sign span.blue{
    color: #00BDFF;
}
.login-sign .blue::after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #00BDFF;
    /* 要用定位来脱离文档流,不然那个横线也会长 */
    position:absolute;
    margin-left: 35px;
    margin-top: 10px;
}
.name-input input{
    margin-bottom: 20px;
}

/* 输入密码错误时候的提示框 */

.account-item .tips-name{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    color: red;
    display: none;
}

.account-item .tips-pwd{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    color: red;
    display: none;
}
.account-item .tips-pwd span,.account-item .tips-name span{
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: red;
    margin-right: 5px;
}



.name-input input,.pwd-input input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    text-indent: 3em;
}
.name-input .clear{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ddd;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    position: absolute;
    right: 5px;
    top: 15px;
    cursor: pointer;
    display: none;
}
.name-input,.pwd-input{
    position: relative;
}
.pwd-input .icon-yanjing_yincang_o{
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 25px;
}
.pwd-input .icon-yanjing_xianshi_o{
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 25px;
}

.icon-kaisuohuansuo,.icon-wode{
    position:absolute;
    display: inline-block;
    font-size: 25px;
    top: 8px;
    left: 8px;
}
.iconfont{
    color: #03C5FF;
}
.pwd-font{
    text-align: right;
    line-height: 50px;
}
.pwd-font a{
    font-size: 14px;
    color: #03C5FF;
}
.login-btn{
    display: block;
    width: 100%;
    outline: 0;
    border: 0;
    background: #03C5FF;
    height: 46px;
    color: #fff;
}
.login-footer{
    padding: 0px 30px;
    text-align: right;
    line-height: 50px;
    color: #909090;
    font-size: 14px;
}
.login-footer a{
    font-size: 14px;
    color: #03C5FF;
    margin-left: 20px;
    margin-right: 10px;
}
.account-item{
    display: block;
}
.scan-item{
    display: none;
}

/* 扫码登录界面的代码 */
.scan-box{
    text-align: center;
    width: 290px;
    height: 240px;
    border: 1px solid #ccc;
    margin: auto;
}
.scan-box img{
    width: 120px;
}
.login-left{
    text-align: left;
}
.scan-box .title{
    margin: 10px 0px;
}
